@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

body {
  font-family: "Maiden Orange", cursive;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

main input {
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 99%;
  height: 2.2em;
}

button {
  margin: 0.5em;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  article section {
    width: 99%;
  }

  #inputs button {
    float: right;
    clear: both;
  }
}
